Repository apollographql/apollo-link, pull requests merged in 2018-03, with the labels that each got.

#532 Update Dangerjs script and templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  dangerfile.ts
Labels: feature, good first review

#548 Remove duplicate community link
  docs/source/links/community.md
Labels: docs

#575 Keep JSDoc Comments in TypeScript output!
  tsconfig.json
Labels: docs

#552 Docs for `apollo-link-rest`
  docs/_config.yml
  docs/source/links/rest.md
Labels: docs

#577 Circleci integration removes travis build
  .circleci/config.yml
  .travis.yml
  package.json
Labels: feature

#549 Fix code on sample about organizing resolvers
  docs/source/links/state.md
Labels: docs
