Repository apollographql/apollo-link, pull requests merged in 2018-04, with the labels that each got.

#590 Docs: fix code snippet for standalone link
  docs/source/index.md
Labels: docs

#589 Clarify authorization example
  packages/apollo-link-context/README.md
Labels: docs

#588 Apollo link schema README typos
  packages/apollo-link-schema/CHANGELOG.md
  packages/apollo-link-schema/README.md
Labels: docs

#596 Fix cache.writeData call in apollo-link-state doc
  docs/source/links/state.md
Labels: docs

#597 Add broken link check and fix broken links
  .circleci/config.yml
  docs/package.json
  docs/source/index.md
  docs/source/links/state.md
Labels: feature

#598 Doc: fix wrong default RetryLink imports
  docs/source/composition.md
Labels: docs

#559 Change ZenObservable require to import
  packages/zen-observable-ts/CHANGELOG.md
  packages/zen-observable-ts/src/zenObservable.ts
  packages/zen-observable-ts/tsconfig.json
Labels: blocking

#618 docs: Add apollo-link-computed-property to community links
  docs/source/links/community.md
Labels: docs
